@import "bootstrap.less";
@import "variables.less";
@import "mixins.less";
@import "responsive.less";

body {
	background-image: url(./img/background.png);
	background-position: bottom;
	background-repeat: repeat;
	color: white;
}

#header {
	
	.container {
	
		margin-left: 5px;
		margin-right: 5px;
		
		width: auto;
	
		@media (max-width: @screen-md-max) {
			margin-left: 5px;
			margin-right: 5px;
			padding-right: 0px;
			padding-left: 0px;
			width: auto;
		}
	}
	
	.navbar-header {
		width: 100%;
		height: 8em;
	}
	
	#header-img {
		max-height: 120px;
		
		@media (max-width: @screen-md-min) {
			width: 100%;
		}
	}
	
	#menu-title-container {
		@media (max-width: @screen-xs-max) {
			padding-right: 0px;
			padding-left: 5px;
			margin: 0px 0px 0px 5px;
		}
	}
	
	
	#menu-title {
		color: white;
		line-height: 100px;
		font-weight: bold;
		.ScaleProperty(margin-left, 30px, .25);
		.ScaleProperty(font-size, 2em, .18);
		text-align: center;
		
		@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
			margin-left: 5px;
			text-align: right;
		}
		
		@media (max-width: @screen-xs-max) {
			margin: 0px;
		}
	}
	
	background-color: black;
	background-repeat: repeat;
}

div.content-block {
	div.col-xs-6 {
		text-align: center;
	}
	
	border-radius: 10px;
	margin: 40px;
	
	@media (max-width: @screen-sm-max) {
		margin: 20px;
	}
	
	border: 1px solid black;
	background-color: #252525;
	background-position: bottom;
	background-repeat: repeat;
	
	p.content-header {
		color: white;
		.ScaleProperty(font-size, 1.5em, .1);
		text-align: center;
		font-weight: bold;
	}
	
	p.content-description {
		color: #ababab;
		.ScaleProperty(font-size, 1.2em, .1);
	}
	
	table.content-table {
		border: 1px solid #ababab;
		
		td,tr {
			border: 1px solid #ababab;
		}
		
		.big-header {
			font-weight: bold;
			.ScaleProperty(font-size, 1.4em, .1);
		}
		
		.small-header {
			font-weight: bold;
			.ScaleProperty(font-size, 1.2em, .1);
		}
		
		.ScaleProperty(font-size, 1.1em, .1);
	}
}

div#disclaimer {
	padding: 20px;
}

#btn-block {
	margin-top: 160px;
	
	.med-types {
		@media (max-width: @screen-sm-max) {

			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}

@media (max-g: @screen-sm-max) {

	#menu-title {
		margin: 0px;
		padding: 0px;
	}
}